/* Styles for the Currency Info Pane */

div.infoDisplayFlex {
  display: flex;
  padding: 0px;
}

div.infoDisplayFlex span {
  text-align: center;
  padding: 15px;
}

/* Symbol Span Styles */
span.symbol {
  flex: 2;
  font-size: 1.9em;
}

span.nonSymbol {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  flex: 1;
  font-size: 1.5em;
}

/* Table Styles */
table {
  width: 100%;
  overflow: scroll;
}

tr {
  display: flex;
}

th {
  flex: 1;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: normal;
}

th.value {
  color: rgb(220, 230, 250);
}

/* Log Entry Styles */
.logEntry {
  margin-top: 4px;
  display: flex;
  text-align: center;
}
/* .logHeight {
  height: 2em;
} */

.logEntry span {
  /* margin: auto; */
  flex: 1;
}

.logEntry span.dominant {
  flex: 3;
}

.sessionBox {
  padding: 2px;
  margin: 10px;
  flex: 1;
}
.sessionBox:hover {
  background-color: rgb(80, 60, 96, 0.5);
}
.selected {
  background-color: rgba(155, 61, 231, 1);
}
